 
 
.b{
    display: flex;
    flex-direction: row;
    align-content: end;
    align-items: end;
}
.start{
    border: 2px solid black;
    border-radius: 50px;
}
.child1{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content: end;
    align-items: end;
}

.child2{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content: end;
    align-items: end;
}
